{{ define "about_page" }}
<div class="col-md-8 mx-auto my-3" v-if="opened=='about'">
    <h2 class="text-center">About</h2><br>
    {{ template "message_part" }}
    <div class="accordion " id="accordionExample">
        <div class="card bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        <h5>Characteristics</h5>
                    </button>
                </h2>
            </div>
            <div id="collapse7" class="collapse show" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="lead text-light">
                        <li>version: <p class="inline text-info">{{ . }}</p>;</li>
                        <li>network type: <p class="inline text-info">friend-to-friend</p>;</li>
                        <li>connection type: <p class="inline text-info">direct-hidden</p>;</li>
                        <li>file transfer: <p class="inline text-info">supported</p>;</li>
                        <li>email exchange: <p class="inline text-info">supported</p>;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        <h5>Algorithms</h5>
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="lead text-light">
                        <li>symmetric: <p class="inline text-info">AES256-[CBC,OFB]</p>;</li>
                        <li>asymmetric: <p class="inline text-info">RSA3072-OAEP</p>;</li>
                        <li>hash function: <p class="inline text-info">HMAC(SHA256)</p>;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        <h5>Sources</h5>
                    </button>
                </h2>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="lead text-light">
                        <li>application hidden lake: <a target="_blank" class="text-info" href="https://github.com/Number571/HiddenLake">hiddenlake.git</a>;</li>
                        <li>framework gopeer: <a target="_blank" class="text-info" href="https://github.com/Number571/gopeer">gopeer.git</a>;</li>
                        <li>library go-sqlite3: <a target="_blank" class="text-info" href="https://github.com/mattn/go-sqlite3">go-sqlite3.git</a>;</li>
                        <li>framework vue.js: <a target="_blank" class="text-info" href="https://github.com/vuejs/vue">vue.git</a>;</li>
                        <li>library jquery: <a target="_blank" class="text-info" href="https://github.com/jquery/jquery">jquery.git</a>;</li>
                        <li>framework bootstrap: <a target="_blank" class="text-info" href="https://github.com/twbs/bootstrap">bootstrap.git</a>;</li>
                        <li>library popper-core: <a target="_blank" class="text-info" href="https://github.com/popperjs/popper-core">popper-core.git</a>;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        <h5>Authors</h5>
                    </button>
                </h2>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="lead text-light">
                        <li>number571: <a target="_blank" class="text-info" href="https://github.com/Number571">github.com/number571</a>;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}