{{ define "archivefile_page" }}
<div class="col-12 col-md-8 mx-auto my-3" v-if="opened=='archivefile'">
    <h2 class="text-center">Archive File</h2><br>
    {{ template "message_part" }}
    <div class="h-25 form-group row">
	    <div class="col-md-9">
	        <button type="button" class="btn btn-success divtext w-100" @click="downloadfile(filedata.hash)">Download</button>
	    </div>
	    <div class="col-md-3">
	        <button type="button" class="btn btn-danger divtext w-100" @click="deletefile(filedata.hash)">Delete</button>
	    </div>
	</div>
    <div>
<pre class="text-white lead">
Name: "${filedata.name}";
Hash: "${filedata.hash}";
Path: "${filedata.path}";
Size: ${filedata.size} bytes;
</pre>
	</div>
</div>
{{ end }}
