{{ define "title" }}
	Archive
{{ end }}

{{ define "content" }}
	<div class="div_bread wrapper">
		<p class="bread"> /
			<i>Archive</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content">
	{{ if not .Files }}
		<p>Nothing</p>
	{{ else }}
		<form method="POST" action="/archive/">
			<select name="filename">
				{{ range .Files }}
				<option value="{{ . }}">
					{{ . }}
				</option>
				{{ end }}
			</select>
			<input type="submit" name="copy" value="Copy">
			<input type="submit" name="delete" value="Delete">
		</form>
	{{ end }}
	</div>
{{ end }}
