<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ block "title" . }}
            {{ end }}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
    </head>
    <body>
        <div id="glitch">
            <div id="square">
            <header>
                <div id="head_title" class="wrapper">
                    <p>
                        Hidden Lake Network
                        {{ if .Auth }}
                            [ {{ .Login }} ]
                            <a href="/logout">Logout</a>
                        {{ end }}
                    </p>
                </div>
                <div id="navigate" class="wrapper">
                    <nav>
                        <a class="button" href="/">Home</a>
                        <a class="button" href="/archive">Archive</a>
                        <a class="button" href="/network">Network</a> 
                        <a class="button" href="/settings">Settings</a>
                        <a class="button" href="/about">About</a>
                    </nav>
                </div>
            </header>
            <main>
                <div id="main_content" class="block_left">
                {{ block "content" . }}
                {{ end }}
                </div>
            </main>
            <hr>
            <footer>
                <div class="wrapper">
                    <p class="block_left"> 
                        [ HiddenLake ] 
                    </p>
                </div>
            </footer>
            </div>
        </div>
    </body>
</html>
