<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ block "title" . }}
            {{ end }}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/media.css">
        <script type="text/javascript" src="/static/js/jquery.js"></script>
    </head>
    <body>
        <div id="glitch">
            <div id="square">
            <header>
                <div id="head_title" class="wrapper">
                    <p>
                        <a id="mode" href="#">{{ if .ModeF2F }}( F2F ){{ else }}( P2P ){{ end }}</a>
                        Hidden Lake Network
                        {{ if .Auth }}
                            [ {{ .Login }} ]
                            <a href="/logout">Logout</a>
                        {{ end }}
                    </p>
                </div>
                <div id="navigate" class="wrapper">
                    <nav>
                        <a class="button" href="/">Home</a>
                        <a class="button" href="/archive">Archive</a>
                        <a class="button" href="/network">Network</a> 
                        <a class="button" href="/settings">Settings</a>
                        <a class="button" href="/about">About</a>
                    </nav>
                </div>
            </header>
            <main>
                <div id="main_content">
                {{ block "content" . }}
                {{ end }}
                </div>
            </main>
            <footer>
                <div class="wrapper">
                    <p class="block_left"> 
                        [ HiddenLake v0.6.1 ]
                    </p>
                </div>
            </footer>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){  
            $('#mode').click(function(){  
                $.ajax({  
                    type: "POST",  
                    url: "/api/mode",
                    cache: false,
                    success: function(obj){
                        if (obj.Exists) {
                            location.reload();
                        }
                    }  
                });
                return false;
            });  
        });  
    </script> 
</html>
