{{ define "title" }}
	Chat
{{ end }}

{{ define "content" }}
	<hr>
	Chat: {{ .TempConnect}} <br>
	<form class="inline_forms" name="ARC" method="POST" action="/network/profile/{{ .TempConnect}}">
		<input type="submit" name="act" value="Profile">
	</form>
	<form class="inline_forms" name="ARC" method="POST" action="/network/archive/{{ .TempConnect}}">
		<input type="submit" name="act" value="Archive">
	</form>
	<form class="inline_forms" name="DEL" method="POST" action="/network/">
		<input type="submit" name="act" value="Delete">
	</form>
	<hr>
	<form name="DELM" method="POST" action="/network/{{ .TempConnect}}">
		<input type="submit" name="act" value="Del_messages">
	</form>
	<textarea readonly rows="10" cols="45">
{{ range (index .LocalMessages .TempConnect) }}{{ . }}{{ end }}
	</textarea>
	<form name="SEND" method="POST" accept="/network/{{ .TempConnect }}">
		<input type="text" name="text" placeholder="Send message...">
		<input type="submit" name="act" value="Send_message">
	</form>
{{ end }}
