{{ define "client_page" }}
<div class="col-12 col-md-8 mx-auto my-3" v-if="opened=='client'">
    <h2 class="text-center">Client</h2><br>
    <div v-if="message.curr">
        <div v-if="message.desc=='success'" class="alert alert-success" role="alert">
           ${message.curr}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div v-if="message.desc=='danger'" class="alert alert-danger" role="alert">
           ${message.curr}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div v-if="message.desc=='warning'" class="alert alert-warning" role="alert">
           ${message.curr}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    <pre class="text-white lead">
Connected: "${conndata.connected}".
Address: "${conndata.address}".
Hashname: "${conndata.hashname}".
Public Key: 
${conndata.public_key}</pre>
    <br>
    <div v-if="conndata.hashname!=authdata.hashname" class="form-group row">
        <div class="col-md-6">
            <!-- , client(conndata.hashname) -->
            <button v-if="conndata.connected" @click="disconnect(), client(conndata.hashname)" type="button" class="btn btn-danger w-100">Disconnect</button>
            <button v-else @click="connect(), client(conndata.hashname)" type="button" class="btn btn-success w-100">Connect</button>
        </div>
        <div class="col-md-6">
            <button v-if="switcher!='delete_chat'" @click="nulldata(), setswitch('delete_chat')" type="button" class="btn btn-danger w-100">Delete Chat</button>
            <button v-else @click="setswitch('delete_chat')" type="button" class="btn btn-danger w-100">Delete Chat</button>
        </div>
    </div>

    <div v-if="conndata.hashname!=authdata.hashname&&switcher=='delete_chat'" class="text-center">
        <form id="feedbackForm" class="text-center">
            <div class="form-group">
                <input type="text" class="form-control bg-dark text-light" name="name" placeholder="Username" v-model="userdata.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control bg-dark text-light" name="name" placeholder="Password" v-model="userdata.password">
            </div>
            <button v-on:submit.prevent="onSubmit" onclick="javascript:return false;" type="submit" id="feedbackSubmit" class="btn btn-secondary w-100" @click="delchat()">Delete Chat</button>
        </form>
    </div>
</div>
{{ end }}
