{{ define "clientarchive_page" }}
<div class="col-12 col-md-8 mx-auto my-3" v-if="opened=='clientarchive'">
    <h2 class="text-center">Client Archive</h2><br>
    <div v-if="message.curr" class="card bg-dark">
        <div v-if="message.desc=='success'" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
        <div v-if="message.desc=='danger'" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
        <div v-if="message.desc=='warning'" class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
    </div>

    <div class="text-center form-group">
        <div class="form-group">
            <button v-if="switcher=='install'"  @click="setswitch('install')" type="button" class="btn btn-danger w-100">Action</button>
            <button v-else  @click="setswitch('install')" type="button" class="btn btn-secondary w-100">Choose</button>
        </div>
    </div>
    <div v-if="switcher=='install'" class="text-center form-group">
        <form id="feedbackForm" class="text-center">
            <div class="form-group w-100">
                <select v-model="filedata.hash" class="browser-default custom-select text-light bg-secondary w-100">
                    <option disabled value="">Choose filename</option>
                    <option v-for="file in filelist" v-bind:value="file.hash">${file.name}</option>
                </select>
            </div>
            <button v-on:submit.prevent="onSubmit" onclick="javascript:return false;" type="submit" id="feedbackSubmit" class="btn btn-success w-100" @click="installfile(conndata.hashname, filedata.hash)">Install</button>
        </form>
    </div>
    <hr>
    <div class="mx-auto w-100">
        <ul class="list-unstyled chat-1 scrollbar-light-blue">
            <li v-for="file in filelist">
                <div class="h-25 form-group row">
                    <div class="col-md-9" v-if="conndata.hashname&&file.hash">
                        <router-link :to="{name: 'clientarchivefile', params: { id0: conndata.hashname, id1: file.hash }}">
                            <button type="button" class="btn btn-secondary divtext w-100" @click="archivefile(conndata.hashname, file.hash)">"${file.name}"</button>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success divtext w-100" @click="installfile(conndata.hashname, file.hash)">Install</button>
                    </div>
                </div>
            </li>
        </ul> 
    </div>
</div>
{{ end }}
