{{ define "connections_page" }}
<div class="col-12 col-md-8 mx-auto my-3" v-if="opened=='connections'">
    <h2 class="text-center">Connections</h2><br>
    <div v-if="message.curr" class="card bg-dark">
        <div v-if="message.desc=='success'" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
        <div v-if="message.desc=='danger'" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
        <div v-if="message.desc=='warning'" class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message.curr}
        </div>
    </div>
    <div class="mx-auto w-100">
        <ul class="list-unstyled chat-1 scrollbar-light-blue">
            <li v-for="hash in userdata.connects">
                <div class="h-25 form-group row">
                    <router-link :to="{name: 'client', params: { id: hash }}" class="w-100">
                        <button type="button" class="btn btn-secondary divtext w-100" @click="client(hash)">${hash}</button>
                    </router-link>
                </div>
            </li>
        </ul> 
    </div>
</div>
{{ end }}
