{{ define "emailnull_page" }}
<div class="col-12 col-md-8 mx-auto my-3" v-if="opened=='emailnull'">
    <h2 class="text-center">Emails</h2><br>
    {{ template "message_part" }}
    <div class="text-center form-group row">
        <div class="col-md-6">
            <button @click="emailupdate()" type="button" class="btn btn-success w-100">Update emails</button>
        </div>
        <div class="col-md-6">
            <button v-if="switcher=='emailsend'"  @click="setswitch('emailsend')" type="button" class="btn btn-danger w-100">Action</button>
            <button v-else  @click="nullconn(), setswitch('emailsend')" type="button" class="btn btn-secondary w-100">Send email</button>
        </div>
    </div>
    <div v-if="switcher=='emailsend'" class="text-center form-group">
        <form id="feedbackForm" class="text-center">
            <div class="form-group w-100">
                <textarea class="form-control bg-dark text-light" placeholder="PEM Public Key Format" v-model="conndata.public_key" @keyup.enter="emailsend(conndata.public_key, conndata.message)"></textarea>
            </div>
            <div class="form-group w-100">
                <textarea class="form-control bg-dark text-light" placeholder="Type your message here..." v-model="conndata.message" @keyup.enter="emailsend(conndata.public_key, conndata.message)"></textarea>
            </div>
            <div class="form-group">
                <button v-on:submit.prevent="onSubmit" onclick="javascript:return false;" type="submit" id="feedbackSubmit" @click="emailsend(conndata.public_key, conndata.message)" class="btn btn-success w-100">Send email</button>
            </div>
        </form>
    </div>
    <div class="mx-auto w-100">
        <ul class="list-unstyled chat-1 scrollbar-light-blue">
            <li v-for="em in emaillist">
                <div class="form-group row">
                    <div class="col-md-2">
                            <button v-if="em.info.incoming" type="button" class="btn btn-info divtext w-100" disabled>Incoming</button>
                            <button v-else type="button" class="btn btn-info divtext w-100" disabled>Outgoing</button>
                        </div>
                    <div class="col-md-7">
                        <router-link :to="{name: 'email', params: { id: em.email.body.desc.hash }}">
                            <button type="button" class="btn btn-secondary divtext w-100" @click="email(em.email.body.desc.hash)">${em.email.body.desc.hash}</button>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger divtext w-100" @click="emaildel(em.email.body.desc.hash)">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{{ end }}
