{{ define "home_header" }}
<div v-if="opened=='home'" class="jumbotron my-3 py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-secondary text-center">Hidden Lake Network</h1>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "home_page" }}
<div class="col-12 col-md-8 mx-auto" v-if="opened=='home'">
    <h2 class="text-center">Updates</h2><br>
    {{ template "message_part" }}
    <div class="accordion " id="accordionExample">
        {{ range $i, $e := . }}
            <div class="card bg-dark">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse{{$i}}" aria-expanded="false" aria-controls="collapse{{$i}}">
                            <h5>Version {{ $e.Version }}</h5>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{$i}}" class="collapse {{ if eq $i 0 }} show {{ end }}" aria-labelledby="heading8" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="lead text-light">
                            {{ range $e.Updates }}
                                <li>{{ . }};</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
