{{ define "title" }}
    Home
{{ end }}

{{ define "content" }}
    <div class="div_bread wrapper">
        <p class="bread"> /
            <i>Home</i>
        </p>
    </div>
    <hr>
    <br>
    <div class="content">
    <p>
        Updates: <br>
        - Version 0.6: F2F connection; <br>
        - Version 0.5: onion routing; <br>
        - Version 0.4: interface extension; <br>
        - Version 0.3: GUI; <br>
        - Version 0.2: end-to-end encryption; <br>
        - Version 0.1: P2P network; <br>
    </p>
    </div>
{{ end }}