{{ define "login_page" }}
<div v-if="opened=='login'">
    <div class="col-12 col-md-8 mx-auto">
        <div class="bg-dark jumbotron">
            <div class="row text-center">
                <div class="text-center col-12">
                    <h2>Authorization</h2>
                </div>
                <div v-if="message.curr" class="text-center col-10 mx-auto">
                    <div v-if="message.desc=='success'" class="alert alert-success" role="alert">
                       ${message.curr}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div v-if="message.desc=='danger'" class="alert alert-danger" role="alert">
                       ${message.curr}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div v-if="message.desc=='warning'" class="alert alert-warning" role="alert">
                       ${message.curr}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div>
                <div class="text-center col-10 mx-auto">
                    <form id="feedbackForm" class="text-center">
                        <div class="form-group">
                            <input type="text" class="form-control bg-dark text-light" name="name" placeholder="Username" v-model="userdata.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control bg-dark text-light" name="name" placeholder="Password" v-model="userdata.password">
                        </div>
                        <button v-on:submit.prevent="onSubmit" onclick="javascript:return false;" type="submit" id="feedbackSubmit" class="btn btn-secondary w-100" @click="login()">Enter to account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}