{{ define "login_page" }}
<div v-if="opened=='login'">
    <div class="col-12 col-md-8 mx-auto">
        <div class="bg-dark jumbotron">
            <div class="row text-center">
                <div class="text-center col-12">
                    <h2>Authorization</h2>
                </div>
                <div class="text-center col-10 mx-auto">
                    {{ template "message_part" }}
                    <form id="feedbackForm" class="text-center">
                        <div class="form-group">
                            <input type="text" class="form-control bg-dark text-light" name="name" placeholder="Username" v-model="userdata.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control bg-dark text-light" name="name" placeholder="Password" v-model="userdata.password">
                        </div>
                        <button v-on:submit.prevent="onSubmit" onclick="javascript:return false;" type="submit" id="feedbackSubmit" class="btn btn-success w-100" @click="login()">Enter to account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}