{{ define "message_part" }}
<div v-if="message.curr">
    <div v-if="message.desc=='success'" class="alert alert-success" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
       </button>
       ${message.curr}
    </div>
    <div v-if="message.desc=='danger'" class="alert alert-danger" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
       </button>
       ${message.curr}
    </div>
    <div v-if="message.desc=='warning'" class="alert alert-warning" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
       </button>
       ${message.curr}
    </div>
</div>
{{ end }}