{{ define "title" }}
    Chat
{{ end }}

{{ define "content" }}
    <div class="wrapper">
        <p class="block_left"> /
            <a href="/network/">Network</a> /
            <i>Chat</i>
        </p>
    </div>
    <hr>
    <div class="content block_left">
        <div class="left_div">
            <br><p>|> <b><a href="/network/chat/">Global chat</a></b></p><br>
            <p>
            {{ if .Connections }}
                <b>Connections = </b> 
                {{ if .ModeF2F}}
                    {{ range .Connections }}
                        <br>
                        <a href="/network/chat/{{ .User }}">{{ .User }}</a>
                    {{ end }}
                {{ else }}
                    {{ range .Connections }}
                        <br>
                        <a href="/network/chat/{{ .User }}">{{ .Login }} [{{ if .Status }} Connected {{ else }} NotConnected {{ end }}]</a>
                    {{ end }}
                {{ end }}
            {{ else }}
                None connections
            {{ end }}
            </p>
        </div>
        <div class="right_div">
            <form method="POST" accept="/network/chat/">
                <input class="delete_input" type="submit" name="delete_message" value="Delete messages">
            </form>
            <form method="POST" accept="/network/chat/">
                <textarea id="plain" readonly>{{ range .Messages }}{{ . }}{{ end }}</textarea>
                <div id="container_message">
                    <div id="message_send">
                        <input class="input_size" type="text" name="text" placeholder="Send message...">
                    </div>
                    <div id="button_send">
                        <input class="button_input" autofocus type="submit" name="send_message" value="Send message">
                    </div>
                </div>
            </form>
            <script>  
                function show() {  
                    $.ajax({  
                        type: "POST",
                        url: "/api/chat/global/update",  
                        cache: false,  
                        success: function(obj) {
                            console.log(obj);
                            if (obj.Exists) {
                                $("#plain").html($("#plain").val() + obj.Body);  
                            }
                        },
                    }).done(function(obj){
                        show();
                    });  
                }  
                $(document).ready(function(){  
                    show();
                });  
            </script> 
        </div>
    </div>
{{ end }}
