{{ define "title" }}
	Profile
{{ end }}

{{ define "content" }}
	<div class="div_bread wrapper">
		<p class="bread"> /
			<a href="/network/">Network</a> /
			<a href="/network/profile/">Profile</a> /
			<i>{{ .UserHash }}</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content">
		<div class="container">
			<b>
				<a href="/network/profile/{{ .UserHash }}">Profile</a> | 
				<a href="/network/chat/{{ .UserHash }}">Chat</a> | 
				<a href="/network/email/read/{{ .UserHash }}">Email</a> | 
				<a href="/network/archive/{{ .UserHash }}">Archive</a> |
			</b>
			<form method="POST" action="/network/">
				<input type="hidden" name="addr" value="{{ .UserHash }}">
				<input type="submit" name="delete" value="Disconnect">
			</form>
		</div>
		<p>
			<b>Login</b> = {{ .UserLogin }} <br>
			<b>Hash</b> = {{ .UserHash }} <br>
			<b>Status</b> = {{ if .Status }} Connected {{ else }} NotConnected {{ end }} <br>
			<b>PublicKey</b> = <br>
			{{ .PublicKey }} <br>
		</p>
	</div>	
{{ end }}
