{{ define "title" }}
	Network
{{ end }}

{{ define "content" }}
	<div class="wrapper">
		<p class="block_left"> /
			<i>Network</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content block_left">
		<div id="button_panel">
			<b>
				<a class="button" href="/network/chat/">Chat</a>
				<a class="button" href="/network/profile/">Profiles</a> 
				<a class="button" href="/network/email/">Email</a> 
				<a class="button" href="/network/archive/">Archives</a> 
			</b>
		</div>
		<br><br>
		<form method="POST" action="/network/">
			{{ if (eq .Mode "F2F") }}
				<input class="input_connect" type="text" name="name" placeholder="nodename"> <br>
				<input class="input_connect" type="text" name="addr" placeholder="address"> <br>
				<input class="input_connect" type="password" name="pasw" placeholder="password"> <br>
			{{ else }}
				<input class="input_connect" type="text" name="addr" placeholder="address">
			{{ end }}
			<input type="submit" name="add" value="Connect">
		</form>
		<p>
			Connections = <br>
			{{ if .Connections }}
				{{ range .Connections }}
					<a href="/network/profile/{{ . }}">{{ . }}</a><br>
				{{ end }}
			{{ else}}
				None
			{{end}}
		</p>
	</div>
{{ end }}
