{{ define "title" }}
	Profile
{{ end }}

{{ define "content" }}
	<div class="wrapper">
		<p class="block_left"> /
			<a href="/network/">Network</a> /
			<a href="/network/profile/">Profile</a> /
			<i>{{ .UserHash }}</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content block_left">
		<div class="container">
			<b>
				<a href="/network/profile/{{ .UserHash }}">Profile</a> | 
				<a href="/network/chat/{{ .UserHash }}">Chat</a> | 
				<a href="/network/email/read/{{ .UserHash }}">Email</a> | 
				<a href="/network/archive/{{ .UserHash }}">Archive</a> |
			</b>
			{{ if (or .ModeF2F (not .Status)) }}
				<form method="POST" action="/network/">
					<input type="hidden" name="name" value="{{ .UserHash }}">
					<input type="submit" name="disconnect" value="Disconnect">
				</form>
			{{ end }}
		</div>
		<p>
			{{ if .ModeF2F }}
				<b>Hash</b> = {{ .UserHash }} <br>
				<b>Address</b> = {{ .Address }} <br>
				<b>Status</b> = {{ if .Status }} Connected {{ else }} NotConnected {{ end }} <br>
			{{ else }}
				<b>Login</b> = {{ .UserLogin }} <br>
				<b>Hash</b> = {{ .UserHash }} <br>
				<b>Status</b> = {{ if .Status }} Connected {{ else }} NotConnected {{ end }} <br>
				<b>PublicKey</b> = <br>
				{{ .PublicKey }} <br>
			{{ end }}
		</p>
	</div>	
{{ end }}
