{{ define "title" }}
	Chat
{{ end }}

{{ define "content" }}
	<div class="div_bread wrapper">
		<p class="bread"> /
			<a href="/">Home</a> /
			<a href="/network/">Network</a> /
			<i>Chat</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content">
	<p>|> <b><a href="/network/chat/global/">Global chat</a></b></p>
	<br>
	<p>
	{{ if .Connections }}
		<b>Connections</b> = 
		{{ range .Connections }}
			<br>| <a href="/network/chat/{{ . }}">{{ . }}</a>
		{{ end }}
	{{ else }}
		Nothing
	{{ end }}
	</p>
	</div>
{{ end }}
