{{ define "title" }}
    Profile
{{ end }}

{{ define "content" }}
    <div class="wrapper">
        <p class="block_left"> /
            <a href="/network/">Network</a> /
            <i>Profile</i>
        </p>
    </div>
    <hr>
    <br>
    <div class="content block_left">
        <p>
            {{ if .Connections }}
                <b>Connections = </b> 
                    {{ range .Connections }}
                        <br>
                        <a href="/network/profile/{{ . }}">{{ . }}</a>
                    {{ end }}
            {{ else }}
                None connections
            {{ end }}
        </p>
    </div>
{{ end }}
