{{ define "title" }}
	Network
{{ end }}

{{ define "content" }}
	<div class="div_bread wrapper">
		<p class="bread"> /
			<i>Network</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content">
		<b>
			<a href="/network/profile/">Profiles</a> | 
			<a href="/network/chat/">Chat</a> |
			<a href="/network/email/">Email</a> | 
			<a href="/network/archive/">Archives</a> | 
		</b>
		<form method="POST" action="/network/">
			{{ if .ModeF2F }}
				<input class="input_connect" type="text" name="name" placeholder="nodename"> <br>
				<input class="input_connect" type="text" name="addr" placeholder="address"> <br>
				<input class="input_connect" type="password" name="pasw" placeholder="password"> <br>
			{{ else }}
				<input class="input_connect" type="text" name="addr" placeholder="address">
			{{ end }}
			<input type="submit" name="add" value="Connect">
		</form>
		<p>
			Connections = <br>
				{{ if .Connections}}
					{{ range .Connections }}
						<a href="/network/profile/{{ . }}">{{ . }}</a><br>
					{{ end }}
				{{ else}}
					None
				{{end}}
		</p>
	</div>
{{ end }}
