{{ define "title" }}
    Chat
{{ end }}

{{ define "content" }}
    <div class="div_bread wrapper">
        <p class="bread"> /
            <a href="/network/">Network</a> /
            <a href="/network/chat/">Chat</a> /
            {{ if .TempConnect }}
                <i>{{ .TempConnect }}</i>
            {{ else }}
                <i>None</i>
            {{ end }}
        </p>
    </div>
    <hr>
    <div class="content">
        <div class="left_div">
            <br><p>|> <b><a href="/network/chat/">Global chat</a></b></p><br>
            <p>
            {{ if .Connections }}
                <b>Connections = </b>
                {{ if .ModeF2F }}
                    {{ range .Connections }}
                        <br>
                        <a href="/network/chat/{{ .User }}">{{ .User }}</a>
                    {{ end }}
                {{ else }}
                    {{ range .Connections }}
                        <br>
                        <a href="/network/chat/{{ .User }}">{{ .Login }} [{{ if .Status }} Connected {{ else }} NotConnected {{ end }}]</a>
                    {{ end }}
                {{ end }} 
            {{ else }}
                None connections
            {{ end }}
            </p>
        </div>
        <div class="right_div">
            {{ if .TempConnect }}
                <form method="POST" accept="/network/chat/">
                    <b>
                        <a href="/network/profile/{{ .TempConnect }}">Profile</a> | 
                        <a href="/network/chat/{{ .TempConnect }}">Chat</a> | 
                        <a href="/network/email/read/{{ .TempConnect }}">Email</a> | 
                        <a href="/network/archive/{{ .TempConnect }}">Archive</a> | 
                        <input type="submit" name="delete_message" value="Delete messages">
                    </b>
                </form>
                <form method="POST" action="/network/chat/{{ .TempConnect}}">
                    <textarea id="plain" readonly>{{ range .Messages }}{{ . }}{{ end }}</textarea> <br>
                    {{ if (or .Status .ModeF2F) }}
                        <input class="input_size" type="text" name="text" placeholder="Message...">
                        <input autofocus type="submit" name="send_message" value="Send message">
                    {{ end }}
                </form>
                <script>  
                    function show() {  
                        $.ajax({  
                            type: "POST",
                            url: "/api/chat/{{ .TempConnect }}/update",  
                            cache: false,  
                            success: function(obj) {
                                console.log(obj);
                                if (obj.Exists) {
                                    $("#plain").html($("#plain").val() + obj.Body);  
                                }
                            },
                        }).done(function(obj){
                            show();
                        });  
                    }  
                    $(document).ready(function(){  
                        show();
                    });  
                </script> 
            {{ else }}
                Nothing
            {{ end }}
        </div>
    </div>
{{ end }}
