{{ define "title" }}
	Network
{{ end }}

{{ define "content" }}
	<hr>
	<b>
		<a href="/network/chat/global/">Global chat</a> | 
		<a href="/network/email/">Email page</a>
	</b>
	<hr> 

	<form method="POST" action="/network/">
		<input type="text" name="addr" placeholder="127.0.0.1:7545" value="">
		<input type="submit" name="add" value="Add">
		<input type="submit" name="delete" value="Delete">
	</form>

	<br>
	
	<b>Connections</b> = 
	{{ if not .Connections }}
		None 
	{{ else }}
		{{ range .Connections }}
			<br>| <a name="{{ . }}" href="/network/chat/{{ . }}">{{ . }}</a>
		{{ end }}
	{{ end }}
	</p>
{{ end }}
