{{ define "title" }}
    Email
{{ end }}

{{ define "content" }}
    <div class="div_bread wrapper">
        <p class="bread"> /
            <a href="/">Home</a> /
            <a href="/network/">Network</a> /
            <a href="/network/email/">Email</a> /
            <i>Read</i>
        </p>
    </div>
    <hr>
    <br>
    <div class="content">
    {{ if .Emails }}
        <table border="1" cellpadding="5">
            <tr>
                <th><p>Title</p></th>
                <th><p>User</p></th>
                <th><p>Date</p></th>
                <th><p>Delete</p></th>
            </tr>
            {{ range .Emails }}
                <tr>
                    <td><a href="/network/email/read/{{ .User }}/{{ .Id }}">{{ .Title }}</a></td>
                    <td><a href="/network/email/read/{{ .User }}">{{ .User }}</a></td>
                    <td><p>{{ .Date }}</p></td>
                    <td><p>
                        <form method="POST" action="/network/email/read/">
                            <input type="hidden" name="id" value="{{ .Id }}">
                            <input type="submit" name="delete" value="Delete">
                        </form>
                        </p>
                    </td>
                </tr>
            {{ end }}
        </table>
    {{ else }}
        Nothing
    {{ end }}
    </div>
{{ end }}
