{{ define "title" }}
	Profile
{{ end }}

{{ define "content" }}
	<div class="div_bread wrapper">
		<p class="bread"> /
			<a href="/">Home</a> /
			<i>Profile</i>
		</p>
	</div>
	<hr>
	<br>
	<div class="content">
	<p> 
		<form name="INFO" method="POST" action="/profile/">
			<p>
				<b>Node</b> = {{ .Name }} <br>
				<b>IPv4:Port</b> = {{ .IPv4 }}{{ .Port }} <br>
				<b>Info</b> = <input type="submit" name="set_info" value="Set info"> <br>
			</p>
			<textarea type="text" name="info">{{ .Info }}</textarea> <br>
		</form>
		<p>
		<b>Connections</b> = 
	{{ if not .Connections }}
		None 
	{{ else }}
			{{ range .Connections }}
				<br>| {{ . }}
			{{ end }}
	{{ end }}
		</p>
	</p>
	</div>
{{ end }}
