{{ define "title" }}
	Profile
{{ end }}

{{ define "content" }}
	<hr>
	<p> 
		<form name="INFO" method="POST" action="/profile/">
			<b>Name</b> = {{ .Name }} <br>
			<b>IPv4</b> = {{ .IPv4 }} <br>
			<b>Port</b> = {{ .Port }} <br> 
			<b>Info</b> = <br>
			<textarea type="text" name="info" rows="5" cols="30">{{ .Info }}</textarea> <br>
			<input type="submit" name="set_info" value="Set info">
		</form>
		<br>
		<b>Connections</b> = 
	{{ if not .Connections }}
		None 
	{{ else }}
			{{ range .Connections }}
				<br>| {{ . }}
			{{ end }}
	{{ end }}
	</p>
{{ end }}
