version: "3"
services:
  recv_hlc:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_PATH=examples/remoter/simple/recv_hlc
    networks:
      - hidden-lake
  send_hls:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_PATH=examples/remoter/simple/send_hls
    ports:
      - 8531:8531
    networks:
      - hidden-lake
networks:
  hidden-lake:
    driver: bridge
