version: "3"
services:
  node1_hlc:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_NETWORK=oi4r9NW9Le7fKF9d
      - SERVICE_PATH=examples/filesharer/prod_test/node1_hlf
    ports:
      - 8541:8541
      - 8572:8572
  node2_hlc:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_NETWORK=oi4r9NW9Le7fKF9d
      - SERVICE_PATH=examples/filesharer/prod_test/node2_hlf
