version: "3"
services:
  node1_hlc:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_PATH=examples/filesharer/simple/node1_hlf
    ports:
      - 8541:8541
      - 8572:8572
    networks:
      - hidden-lake
  node2_hlc:
    build:
      context: ./../../../
      dockerfile: cmd/hlc/Dockerfile
    environment:
      - SERVICE_PATH=examples/filesharer/simple/node2_hlf
    networks:
      - hidden-lake
networks:
  hidden-lake:
    driver: bridge
